<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.5/engine/Shopware/Components/Plugin/schema/menu.xsd">
    <entries>
        <entry>
            <name>PSC7Helper</name>
            <label lang="en">PlentyConnector Helper</label>
            <label lang="de">PlentyConnector Helper</label>
            <controller>PSC7HelperDashboard</controller>
            <action>index</action>
            <class>sprite-metronome</class>
            <parent identifiedBy="controller">ConfigurationMenu</parent>
            <onclick>Shopware.ModuleManager.createSimplifiedModule("PSC7HelperDashboard", { "title": "PSC7Helper" })</onclick>
        </entry>
    </entries>
</menu>
